---
import Layout from "@layouts/Layout.astro";
import Breadcrumbs from "@components/Breadcrumbs.astro";

const breadcrumbItems = [
  { title: "Home", path: "/" },
  { title: "Who we are", isActive: true },
];
---

<Layout title="Who we are">
  <div class="relative border-b-4 md:border-y-4 border-primary">
    <Breadcrumbs items={breadcrumbItems} />

    <div id="hero-banner" class="relative">
      <img
        src="/what-we-are-background.webp"
        alt="Hero Image"
        class="object-cover w-full h-auto"
      />
      <div
        class="absolute inset-0 flex items-center justify-start left-2 md:left-12 xl:left-28">
        <div class="text-white max-w-2xl">
          <h1
            class="text-xl md:text-3xl lg:text-[64px] leading-tight font-semibold font-condensed">
            About
          </h1>
          <img
            src="/assets/logo-white.webp"
            alt="logo white"
            class="w-[15vw] md:mt-2 lg:mt-10"
          />
        </div>
      </div>
    </div>
  </div>

  <section
    id="overview"
    class="container bg-white justify-between mx-auto px-10 lg:px-40 py-[32px] md:py-[88px]">
    <h2
      data-aos="fade-up"
      class="text-xl md:text-[40px] font-semibold mb-[6px] md:mb-3 font-condensed">
      Overview
    </h2>
    <div
      data-aos="fade-up"
      class="h-[2px] md:h-1 w-[40%] md:w-[20%] bg-primary mb-6 md:mb-8">
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 md:gap-8">
      <div class="leading-7 mr-2">
        <p data-aos="fade-up" class="mb-4 text-sm md:text-base text-justify">
          Established in 2005, <span class="font-serifa">GI</span> has developed a distinguished reputation for
          executing complex offshore and maritime projects in India for the
          Indian Navy and major Oil and Gas companies like ONGC, including
          turn-key projects over $50 million.
        </p>
        <p data-aos="fade-up" class="mb-6 text-sm md:text-base text-justify">
          Since 2017, the company has embarked on a transformative journey to
          focus exclusively on armed forces businesses. The aim is to lead a
          series of strategic initiatives to diversify its offerings in
          Engineering and New Technology by encompassing cutting-edge fields
          like Data Science, Machine Learning and Artificial Intelligence (AI).
        </p>
      </div>
      <div>
        <img
          src="/engineers-working.webp"
          alt="Engineers working"
          class="rounded-lg shadow-lg"
        />
      </div>
    </div>

    <div
      data-aos="fade-up"
      class="mt-[24px] md:mt-[73px] p-5 md:p-[35px] relative">
      <div class="absolute top-0 left-0 w-[95%] md:w-[20%] h-1 bg-primary">
      </div>
      <div class="absolute top-0 left-0 w-1 h-[50%] bg-primary"></div>
      <div class="absolute bottom-0 right-0 w-1 h-[50%] bg-primary"></div>
      <div class="absolute bottom-0 right-0 w-[95%] md:w-[20%] h-1 bg-primary">
      </div>
      <p class="text-sm md:text-base">
        <span class="font-serifa">GI</span>'s motto, "<span
          class="text-secondary text-sm md:text-base font-medium"
          >Serving Bharat and its Allies</span
        >" encapsulates its unwavering commitment to fortify the Indian armed
        forces.
      </p>
      <p data-aos="fade-up" class="text-sm md:text-base pt-4 md:pt-7">
        Our <span class="text-secondary text-sm md:text-base font-medium"
          >vision</span
        > entails enhancing existing services by infusing them with the latest technological
        advancements, thus equipping the nation and its allies with state-of-the-art
        solutions for the ever-evolving challenges of the modern world.
      </p>
    </div>
  </section>

  <section
    id="leadership"
    class="w-full bg-dark text-white relative overflow-hidden">
    <!-- <img
      src="/assets/dark-hex.webp"
      alt="Customized Habitat Design"
      class="w-full absolute z-0 opacity-[10%] bg-cover bg-repeat-y"
    /> -->
    <div class="px-10 mx-auto lg:px-40 py-[50px] md:py-[88px] container">
      <h2
        data-aos="fade-up"
        class="text-xl md:text-[40px] font-semibold mb-[6px] md:mb-[22px] font-condensed">
        Leadership
      </h2>
      <div
        data-aos="fade-up"
        class="h-[2px] md:h-1 w-[30%] md:w-[20%] bg-primary mb-[24px] md:mb-[32px]">
      </div>
      <p data-aos="fade-up" class="mb-12 text-justify text-xs md:text-base">
        The current leadership is a mix of seasoned industry and business
        professionals and ex-Indian Naval Senior officers, providing the impetus
        to grow and expand beyond the current offerings to the next phase, to
        supply the most advanced technologies and solutions to the Indian
        Defence Sector.
      </p>

      <div data-aos="fade-up" class="flex flex-col md:flex-row justify-between">
        <div
          class="flex items-center bg-gradient-to-r from-[#0E1D2B] from-50% ml-[30px] xxs:ml-[80px] lg:ml-[100px]">
          <img
            src="/leadership/pabby.webp"
            alt="Vice Admiral G. S. Pabby"
            class="w-[50%] md:w-32 lg:w-36 xl:w-48 mr-4 z-10 ml-[-30px] xxs:ml-[-80px] lg:ml-[-100px]"
          />
          <div class="">
            <h3 class="text-sm xl:text-xl font-semibold font-condensed">
              Vice Admiral G. S. Pabby
            </h3>
            <p class="text-xs text-white font-semibold font-condensed">
              AVSM, VSM (Retd.)
            </p>
            <p
              class="text-xs xl:text-base text-primary font-condensed font-semibold mt-2 mb-2">
              Chief Advisor
            </p>
            <p
              class="hidden xxs:block text-xs xl:text-sm font-condensed text-white xl:mb-1">
              Ex Chief of Material, Indian Navy
            </p>
            <p
              class="hidden xs:block text-xs xl:text-sm font-condensed text-white xl:mb-1">
              IIT Bombay
            </p>
            <p
              class="hidden xs:block text-xs xl:text-sm font-condensed text-white">
              NIT Kurukshetra
            </p>
          </div>
        </div>
        <div
          class="flex items-center bg-gradient-to-r from-[#0E1D2B] from-50% ml-[30px] xxs:ml-[80px] lg:ml-[100px] mt-5 md:mt-0">
          <img
            src="/leadership/rajesh.webp"
            alt="Vice Admiral G. S. Pabby"
            class="w-[50%] md:w-32 lg:w-36 xl:w-48 mr-4 z-10 ml-[-30px] xxs:ml-[-80px] lg:ml-[-100px]"
          />
          <div class="">
            <h3 class="text-sm xl:text-xl font-semibold font-condensed">
              Rajesh Behera
            </h3>
            <p
              class="text-xs xl:text-base text-primary font-condensed font-semibold mt-2 mb-2">
              Business Head
            </p>
            <p
              class="hidden xxs:block text-xs font-condensed xl:text-sm text-white">
              15+ years of Commercial
            </p><p
              class="hidden xxs:block text-xs font-condensed xl:text-sm text-white xl:mb-1">
              and Operations Management
            </p>
            <p
              class="hidden sm:block text-xs font-condensed xl:text-sm text-white">
              IMD Business School
            </p>
            <p
              class="hidden sm:block text-xs font-condensed xl:text-sm text-white">
              IIT Bombay
            </p>
          </div>
        </div>
      </div>

      <h2
        data-aos="fade-up"
        class="text-xl md:text-[40px] font-semibold mb-[6px] md:mb-[22px] mt-[30px] md:mt-16 font-condensed">
        Promoter
      </h2>
      <div
        data-aos="fade-up"
        class="h-[2px] md:h-1 w-[30%] md:w-[20%] bg-primary mb-6 md:mb-[36px]">
      </div>
      <div class="flex justify-center">
        <div
          data-aos="fade-up"
          class="flex items-center bg-gradient-to-r from-[#0E1D2B] from-50% ml-[30px] xxs:ml-[80px] lg:ml-[100px]">
          <img
            src="/leadership/abhishek.webp"
            alt="Abhishek Kumar"
            class="w-[50%] md:w-32 lg:w-36 xl:w-48 mr-4 z-10 ml-[-30px] xxs:ml-[-80px] lg:ml-[-100px]"
          />
          <div class="">
            <h3 class="text-sm xl:text-xl font-semibold font-condensed">
              Abhishek Kumar
            </h3>
            <p
              class="text-xs xl:text-base text-primary font-condensed font-semibold mt-2 mb-2">
              Promoter
            </p>
            <p class="text-xs xl:text-sm font-condensed text-white">
              20+ years of business leadership
            </p>
            <p
              class="hidden xxs:block text-xs font-condensed xl:text-sm text-white xl:mb-1">
              Harvard Business School
            </p>
            <p
              class="hidden xs:block text-xs font-condensed xl:text-sm text-white xl:mb-1">
              IIT Kanpur
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>

<style>
  #leadership::before {
    content: "";
    background: url("/assets/dark-hex.webp") repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2; /* Adjust opacity as needed */
    z-index: 0;
  }
  #leadership .container {
    position: relative;
    z-index: 1;
  }
</style>
