---
import Contactform from "@components/contactform.astro";

import Layout from "@layouts/Layout.astro";
---

<div class="flex flex-col min-h-screen">
  <Layout title="Contact Us">
    <div
      class="bg-background text-xs py-2 pl-4 md:pl-12 text-white flex items-center">
      <a href="/">
        <span class="">Home </span>
      </a>
      <img src="/assets/keyboard-arrow-right.svg" class="w-4" />
      <span class="text-primary">Contact Us </span>
    </div>
    <div
      class="md:grid md:grid-cols-2 md:gap-10 md:px-10 lg:px-40 xl:px-60 flex flex-col-reverse mt-[32px] md:mt-[90px] mb-[32px] md:mb-[126px]">
      <div class="xs:m-5 m-3 md:m-0 flex flex-col">
        <div
          data-aos="fade-up"
          class="text-3xl text-dark font-semibold font-condensed hidden md:block mb-[32px]">
          Get in touch
        </div>
        <p
          data-aos="fade-up"
          class="text-sm md:text-base leading-relaxed text-dark text-justify font-light mb-[32px] px-4 md:px-0">
          Thank you for your interest in GI. As a leading defence contractor for
          Navy Ships, we are committed to providing our clients with the highest
          quality services. Whether you need habitability solutions, structural
          repairs and upgrades or defence contracting services, we are here to
          help. Please contact us using the information provided below or fill
          out the contact form and a member of our team will get back to you as
          soon as possible. We look forward to hearing from you.
        </p>
        <div
          data-aos="fade-up"
          class="flex justify-center md:justify-start gap-5">
          <a href="#" class="hover:underline"
            ><img
              src="/assets/linkedin.svg"
              alt="LinkedIn"
              class="h-8 bg-white"
            /></a
          >
          <a href="#" class="hover:underline"
            ><img
              src="/assets/whatsapp.svg"
              alt="WhatsApp"
              class="h-8 bg-white"
            /></a
          >
          <a href="#" class="hover:underline"
            ><img src="/assets/x.svg" alt="Other" class="h-8 bg-white" /></a
          >
        </div>
      </div>
      <div data-aos="fade-up" class="mx-7">
        <div class="md:hidden text-[16px] text-dark font-semibold text-center">
          Get in touch
        </div>
        <Contactform />
      </div>
    </div>
  </Layout>
</div>
