---
import Layout from "@layouts/Layout.astro";
import Breadcrumbs from "@components/Breadcrumbs.astro";

const breadcrumbItems = [
  { title: "Home", path: "/" },
  { title: "Nistar class DSV", isActive: true },
];
---

<Layout title="">
  <body class="text-gray-900">
    <!-- Starting image -->
    <div class="border-b-4 md:border-y-4 border-primary">
      <Breadcrumbs items={breadcrumbItems} />

      <img
        src="/boat4.webp"
        alt="Customized Habitat Design"
        class="h-full w-full"
      />
    </div>

    <!-- pioneers in -->
    <section
      id="leading"
      class="max-w-2xl lg:max-w-3xl mx-auto space-y-6 md:space-y-8 mb-[64px] md:mb-[77px] mt-[32px] md:mt-[64px] px-[37px] md:px-0">
      <div
        class="text-[13px] xxs:text-[16px] md:text-[36px] font-semibold md:font-medium text-justify flex justify-center md:mb-[45px]">
        <div data-aos="fade-up" class="">Nistar class DSV</div>
      </div>

      <p
        data-aos="fade-up"
        class="text-justify text-[13px] xxs:text-sm md:text-base font-light">
        <span class="font-serifa">GI</span> Tech’s expertise in helideck structures enabled Hindustan Shipyard to
        equip the cutting-edge
        <span class="text-secondary font-medium">
          Nistar class Diving Support Vessels with a lightweight marine-grade
          aluminum helideck
        </span>
        , marking a first-in-class feature. This provides the Indian Navy with flight
        operations capability to support their missions.
      </p>

      <p
        data-aos="fade-up"
        class="text-justify text-sm md:text-base font-light">
        The project scope included the
        <span class="text-secondary font-medium">
          design, supply, and installation of two helideck structures across INS
          Nistar and INS Nipun
        </span>
        , encompassing the installation of steel support structures, necessary lighting
        and cabling, onboard spare parts, fire fighting system and piping system.
        G1 also provided support during testing , commissioning and on-board training
        at HSL premises.
      </p>
    </section>
  </body>
</Layout>

<script is:inline>
  for (let index = 1; index <= 5; index++) {
    const text = document.getElementById(`text${index}`);
    const toggleButton = document.getElementById(`toggle-button${index}`);

    toggleButton.addEventListener("click", () => {
      if (text.classList.contains("hidden")) {
        text.classList.remove("hidden");
        toggleButton.innerHTML =
          '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" id="keyboard-up-arrow" fill="#01BDB7"><path d="M8.12 14.71L12 10.83l3.88 3.88c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L12.7 8.71c-.39-.39-1.02-.39-1.41 0L6.7 13.3c-.39.39-.39 1.02 0 1.41.39.38 1.03.39 1.42 0z"></path></svg>';
      } else {
        text.classList.add("hidden");
        toggleButton.innerHTML =
          '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" id="keyboard-down-arrow" fill="#01BDB7"><path d="M8.12 9.29L12 13.17l3.88-3.88c.39-.39 1.02-.39 1.41 0 .39.39.39 1.02 0 1.41l-4.59 4.59c-.39.39-1.02.39-1.41 0L6.7 10.7c-.39-.39-.39-1.02 0-1.41.39-.38 1.03-.39 1.42 0z"></path></svg>';
      }
    });
  }
</script>
