---
// No additional script needed
import Layout from "@layouts/Layout.astro";
---

<Layout title="What we are">
  <div class="relative border-t-4 border-primary">
    <div id="hero-banner" class="relative">
      <img
        src="/what-we-are-background.png"
        alt="Hero Image"
        class="object-cover w-full h-auto"
      />
      <div
        class="absolute inset-0 flex items-center justify-start px-8 md:px-16">
        <div class="text-white max-w-2xl">
          <h1
            class="text-3xl md:text-5xl lg:text-6xl leading-tight font-barlow">
            ABOUT
          </h1>
          <img
            src="/assets/logo-white.png"
            alt="logo white"
            class="w-full h-full mt-2"
          />
        </div>
      </div>
    </div>
  </div>

  <section class="bg-white justify-between">
    <div class="container mx-auto px-10 md:px-40 py-20">
      <h2 class="text-2xl font-bold mb-2 font-barlow">Overview</h2>
      <div class="h-1 w-[20%] bg-teal-500 mb-10"></div>
      <div class="flex flex-col md:flex-row">
        <div class="md:w-1/2 leading-7 mr-2">
          <p class="mb-4 text-lg font-thin">
            Established in 2005, GI has developed a distinguished reputation for
            executing complex offshore and maritime projects in India for the
            Indian Navy and major Oil and Gas companies like ONGC, including
            turn-key projects over $50 million.
          </p>
          <p class="mb-4 text-lg font-thin">
            Since 2017, the company has embarked on a transformative journey to
            focus exclusively on armed forces businesses. The aim is to lead a
            series of strategic initiatives to diversify its offerings in
            Engineering and New Technology by encompassing cutting-edge fields
            like Data Science, Machine Learning and Artificial Intelligence
            (AI).
          </p>
        </div>
        <div class="md:w-1/2">
          <img
            src="/engineers-working.png"
            alt="Engineers working"
            class="rounded-lg shadow-lg"
          />
        </div>
      </div>

      <div class="mt-8 p-10" style="position: relative;">
        <div
          style="position: absolute; top: 0; left: 0; width: 20%; height: 4px; background: #14b8a6;">
        </div>
        <div
          style="position: absolute; top: 0; left: 0; width: 4px; height: 50%; background: #14b8a6;">
        </div>
        <div
          style="position: absolute; bottom: 0; right: 0; width: 4px; height: 50%; background: #14b8a6;">
        </div>
        <div
          style="position: absolute; bottom: 0; right: 0; width: 20%; height: 4px; background: #14b8a6;">
        </div>
        <p class="text-lg font-semibold">
          GI's motto, <span class="text-teal-500"
            >“Serving Bharat and its Allies”</span
          > encapsulates its unwavering commitment to fortify the Indian armed forces.
        </p>
        <p class="pt-7">
          Our <span class="font-bold">vision</span> entails enhancing existing services
          by infusing them with the latest technological advancements, thus equipping
          the nation and its allies with state-of-the-art solutions for the ever-evolving
          challenges of the modern world.
        </p>
      </div>
    </div>

    <!-- <section class=""> -->
    <div
      class="w-full py-16 px-10 md:px-60 bg-dark text-white relative overflow-hidden">
      <!-- <img
        src="/assets/web1.svg"
        alt="Customized Habitat Design"
        class="w-full absolute opacity-[3%]"
      /> -->
      <!-- <div class=""> -->
      <h2 class="text-2xl font-bold mb-4 font-barlow">Leadership</h2>
      <div class="h-1 w-[20%] bg-teal-500 mb-6"></div>
      <p class="mb-8">
        The current leadership is a mix of seasoned industry and business
        professionals and ex-Indian Naval Senior officers, providing the impetus
        to grow and expand beyond the current offerings to the next phase, to
        supply the most advanced technologies and solutions to the Indian
        Defence Sector.
      </p>

      <div class="flex flex-wrap justify-between">
        <div class="flex items-center">
          <img
            src="/leadership/pabby.png"
            alt="Vice Admiral G. S. Pabby"
            class="w-40 md:w-48 md:h-48 mr-4 z-10"
          />
          <div
            class="bg-gradient-to-r from-[#0E1D2B] from-50% ml-[-70px] md:py-3 pr-10 pl-[70px]">
            <h3 class="text-sm md:text-xl font-bold">
              Vice Admiral G. S. Pabby
            </h3>
            <p class="text-xs md:text-sm text-gray-400">AVSM, VSM (Retd.)</p>
            <p class="text-xs md:text-sm text-teal-500">Chief Advisor</p>
            <p class="text-xs md:text-sm text-gray-400 md:mb-2">
              Ex Chief of Material, Indian Navy
            </p>
            <p class="text-xs md:text-sm text-gray-400 md:mb-2">IIT Bombay</p>
            <p class="text-xs md:text-sm text-gray-400">NIT Kurukshetra</p>
          </div>
        </div>
        <div class="flex items-center">
          <img
            src="/leadership/rajesh.png"
            alt="Rajesh Behera"
            class="w-40 md:w-48 md:h-48 mr-4 z-10"
          />
          <div
            class="bg-gradient-to-r from-[#0E1D2B] from-50% ml-[-70px] py-3 pr-7 pl-[70px]">
            <h3 class="text-sm md:text-xl font-bold">Rajesh Behera</h3>
            <p class="text-xs md:text-sm text-teal-500">Business Head</p>
            <p class="text-xs md:text-sm text-gray-400">
              15+ years of Commercial
            </p>
            <p class="text-xs md:text-sm text-gray-400">
              and Operations Management
            </p>
            <p class="text-xs hidden md:block md:text-sm text-gray-400 md:mb-2">
              Ex Chief of Material, Indian Navy
            </p>
            <p class="text-xs md:text-sm text-gray-400 md:mb-2">
              IMD Business School
            </p>
            <p class="text-xs md:text-sm text-gray-400">IIT Bombay</p>
          </div>
        </div>
      </div>

      <h2 class="text-2xl font-bold mb-4 mt-16">Promoter</h2>
      <div class="h-1 w-[20%] bg-teal-500 mb-6"></div>
      <div class="flex justify-center">
        <div class="flex items-center">
          <img
            src="/leadership/abhishek.png"
            alt="Abhishek Kumar"
            class="w-48 h-48 mr-4 z-10"
          />
          <div
            class="bg-gradient-to-r from-[#0E1D2B] from-50% ml-[-70px] py-3 pr-10 pl-[70px]">
            <h3 class="text-xl font-bold">Abhishek Kumar</h3>
            <p class="text-sm text-teal-500">Promoter</p>

            <p class="text-sm text-gray-400 mb-2 w-[70%]">
              20+ years of business leadership
            </p>
            <p class="text-sm text-gray-400 mb-2">Harvard Business School</p>
            <p class="text-sm text-gray-400">IIT Kanpur</p>
          </div>
        </div>
      </div>
    </div>

    <!-- </section> -->
  </section>
</Layout>
