---
import Layout from "@layouts/Layout.astro";
import CriticalItem from "screens/what-we-do/critical-structures/criticalItem.astro";
import { criticalItemCards } from "screens/what-we-do/cards";
---

<Layout title="">
  <body class="text-gray-900">
    <!-- Starting image -->
    <div class="border-y-4 border-primary">
      <div
        class="bg-background text-xs py-2 pl-4 md:pl-12 text-white flex items-center">
        <a href="/">
          <span class="">Home </span>
        </a>
        <img src="/assets/keyboard-arrow-right.svg" class="w-4" />
        <a href="/">
          <span class="">What we do </span>
        </a>
        <img src="/assets/keyboard-arrow-right.svg" class="w-4" />
        <span class="text-primary">Critical Structures </span>
      </div>
      <img
        src="/assets/critical-structures.png"
        alt="Customized Habitat Design"
        class="h-full w-full"
      />
    </div>

    <!-- pioneers in -->
    <section id="pioneer" class="max-w-3xl mx-auto mt-[74px] mb-[64px]">
      <div
        class="text-base md:text-4xl font-medium flex justify-center mb-[42px]">
        <div>Pioneers in</div>
        <div class="ml-2 text-secondary">Critical Structures</div>
      </div>

      <div class="text-sm md:text-base text-justify font-light mb-[20px]">
        GI is your premier partner in advancing naval operations through the <span
          class="text-[#007BC7] font-medium"
          >design, fabrication, and installation of critical structures,
          particularly helidecks,</span
        > tailored to meet the rigorous demands of modern naval vessels. As a trusted
        leader in habitat solutions for the Navy, GI-Tech has a track record of excellence,
        innovation, and reliability in delivering cutting-edge infrastructure solutions
        that enhance operational capabilities and readiness.
      </div>

      <p class="text-sm md:text-base text-justify font-light">
        Our commitment to
        <span class="text-[#007BC7] font-medium">
          precision engineering, uncompromising quality, and unwavering
          dedication to customer satisfaction</span
        > sets us apart as the preferred choice for designing, fabricating, and installing
        critical structures for Navy vessels, with particular distinguished capabilities
        for lightweight aluminium helidecks.
      </p>
    </section>

    <!-- why GI for critical structures -->
    <section
      id="why gi"
      class="bg-dark text-white relative overflow-hidden pt-[72px] pb-[84px]">
      <img
        src="/assets/web1.svg"
        alt="Customized Habitat Design"
        class="w-full absolute z-0 opacity-[2%]"
      />
      <div
        class="font-semibold px-4 py-2 text-white z-10 text-[40px] xl:ml-[140px] lg:ml-[40px] md:ml-16">
        Why GI for critical structures ?
        <div class="border-b-4 border-primary w-[20vw] pt-4"></div>
      </div>
      <div class="max-w-6xl mx-4 md:mx-16 lg:mx-8 xl:mx-auto pt-14">
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
          {
            criticalItemCards
              .slice(0, 3)
              .map((item) => <CriticalItem {...item} />)
          }
        </div>
        <div
          class="grid grid-cols-1 lg:grid-cols-2 gap-8 md:mt-12 mt-8 lg:max-w-[66%] mx-auto">
          {
            criticalItemCards
              .slice(3, 5)
              .map((item) => <CriticalItem {...item} />)
          }
        </div>
      </div>
    </section>

    <!-- Lean More -->
    <section id="learn more" class="lg:max-w-4xl lg:mx-auto lg:flex my-20">
      <img
        src="/assets/vikrant2.png"
        alt="Customized Habitat Design"
        class="w-full lg:w-[50%] lg:h-[50%] rounded-lg"
      />
      <div class="ml-8">
        <div class="text-3xl font-semibold mb-8 mt-9 font-condensed">
          GI: Delivering Unmatched Structural Solutions
        </div>
        <p class="text-justify mb-8 font-light">
          Discover how GI's expertise in helideck structures enabled Hindustan
          Shipyard to equip the cutting edge Nistar class Diving Support Vessels
          with lightweight helideck. A first in class feature , this provides
          Indian Navy with flight ops capability to support their mission across
          different environments.
        </p>

        <a
          class="text-secondary border-2 border-secondary px-3 md:px-8 py-1 md:py-[8px] text-md md:text-base inline-block font-condensed font-semibold transition duration-300 ease-in-out hover:bg-primary cursor-pointer">
          LEARN MORE
        </a>
      </div>
    </section>
  </body>
</Layout>

<script is:inline>
  for (let index = 1; index <= 5; index++) {
    const text = document.getElementById(`text${index}`);
    const toggleButton = document.getElementById(`toggle-button${index}`);

    toggleButton.addEventListener("click", () => {
      if (text.classList.contains("hidden")) {
        text.classList.remove("hidden");
        toggleButton.innerHTML =
          '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" id="keyboard-up-arrow" fill="#01BDB7"><path d="M8.12 14.71L12 10.83l3.88 3.88c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L12.7 8.71c-.39-.39-1.02-.39-1.41 0L6.7 13.3c-.39.39-.39 1.02 0 1.41.39.38 1.03.39 1.42 0z"></path></svg>';
      } else {
        text.classList.add("hidden");
        toggleButton.innerHTML =
          '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" id="keyboard-down-arrow" fill="#01BDB7"><path d="M8.12 9.29L12 13.17l3.88-3.88c.39-.39 1.02-.39 1.41 0 .39.39.39 1.02 0 1.41l-4.59 4.59c-.39.39-1.02.39-1.41 0L6.7 10.7c-.39-.39-.39-1.02 0-1.41.39-.38 1.03-.39 1.42 0z"></path></svg>';
      }
    });
  }
</script>
