---
import Layout from "@layouts/Layout.astro";
import OurServices from "screens/habitat-solutions/ourServices.astro";
import { cards } from "screens/habitat-solutions/card";
---

<Layout title="Our Services">
  <body class="text-gray-900">
    <!-- Starting image -->
    <div class="md:border-y-4 md:border-primary">
      <div
        class="bg-background text-xs py-2 pl-4 md:pl-12 text-white flex items-center">
        <a href="/">
          <span class="">Home </span>
        </a>
        <img src="/assets/keyboard-arrow-right.svg" class="w-4" />
        <a href="/">
          <span class="">What we do </span>
        </a>
        <img src="/assets/keyboard-arrow-right.svg" class="w-4" />
        <span class="text-primary">Habitat Solutions </span>
      </div>
      <img
        src="/assets/habitate-background.png"
        alt="Customized Habitat Design"
        class="h-full w-full"
      />
    </div>

    <!-- Leading the way -->
    <section
      id="leading"
      class="max-w-2xl lg:max-w-3xl mx-auto space-y-8 mb-[77px] mt-[64px]">
      <div
        class="text-sm xxs:text-[16px] xs:text-xl md:text-[36px] font-medium text-justify flex justify-center md:mb-[45px]">
        <div class="">Leading the Way in</div>
        <div class="ml-2 text-secondary">Habitat Services</div>
      </div>

      <p class="text-justify text-sm md:text-base font-light">
        <span class="text-secondary font-medium"
          >GI-Tech is a premier habitat service provider</span
        > catering specifically to the needs of the esteemed Navy. With an unwavering
        commitment to excellence, innovation, and service, we stand ready to support
        and enhance the operational efficiency and effectiveness of naval operations
        through our comprehensive habitat solutions.
      </p>

      <p class="text-justify text-sm md:text-base font-light">
        At GI-Tech, we recognize the critical importance of maintaining optimal
        living and working environments for naval personnel, <span
          class="text-secondary font-medium"
          >ensuring their comfort, safety, and productivity</span
        >. Our team of seasoned professionals brings a wealth of expertise and
        experience in designing, constructing, and managing habitats tailored to
        the unique requirements of naval installations, vessels, and facilities.
      </p>
    </section>

    <!-- services-we-provide -->
    <section
      id="our services"
      class="bg-dark text-white relative overflow-hidden pt-[72px] pb-[88px]">
      <img
        src="/assets/web1.svg"
        alt="background texture"
        class="w-full absolute z-0 opacity-[3%]"
      />
      <div
        class="font-semibold font-condensed pr-4 text-white z-10 text-[40px] ml-[6%] md:ml-[2%] lg:ml-[7%] xl:ml-[20%] mb-[16px]">
        Our Services
      </div>

      <div
        class="h-[2px] md:h-1 w-[40%] md:w-[20%] bg-primary mb-4 md:mb-[22px] ml-[6%] md:ml-[2%] lg:ml-[7%] xl:ml-[20%]">
      </div>

      <div class="max-w-2xl mx-auto p-6 space-y-8 z-10 md:mt-7">
        {cards.map((card) => <OurServices {...card} />)}
      </div>
    </section>

    <!-- Learn More -->
    <section
      id="upgrading habitability"
      class="max-w-4xl mx-10 lg:mx-auto flex flex-col-reverse md:flex-row md:mb-20 mt-16 bgiwhite relative">
      <div>
        <div
          class="text-xs md:text-4xl text-white md:text-black font-medium lg:mt-12 absolute md:relative bottom-40 xxs:bottom-36 xs:bottom-32 md:bottom-0 z-50 font-condensed">
          Upgrading Habitability: A Game-Changing Partnership with GI
        </div>
        <p
          class="text-justify font-light mb-8 mt-3 md:mt-8 text-sm md:text-base">
          Learn how GI's habitat expertise enabled the Indian Navy to ensure the
          best accommodation in the flagship aircraft carrier INS Vikrant , thus
          enhancing their operational capabilities by ensuring utmost safety and
          comfort for the crew.
        </p>

        <a
          class="text-secondary border-2 border-secondary px-3 md:px-8 py-1 md:py-[8px] text-md md:text-base inline-block font-condensed font-semibold transition duration-300 ease-in-out hover:bg-primary cursor-pointer">
          LEARN MORE
        </a>
      </div>
      <!-- <div class="w-[100vw] h-[100vh] flex md:flex-col"> -->
      <img
        src="/assets/IAC-Vikrant.png"
        alt="Customized Habitat Design"
        class="w-full md:w-[50%] h-[50%] md:ml-10 rounded-lg"
      />

      <!-- <div class="block md:hidden text-3xl font-semibold mb-9 lg:mt-12">
        Upgrading Habitability: A Game-Changing Partnership with GI
      </div> -->
      <!-- </div> -->
    </section>
  </body>
</Layout>
