---
import Layout from "@layouts/Layout.astro";
import OurServices from "screens/habitat-solutions/ourServices.astro";
import { cards } from "screens/habitat-solutions/card";
import Breadcrumbs from "@components/Breadcrumbs.astro";

const breadcrumbItems = [
  { title: "Home", path: "/" },
  { title: "What we do", path: "/" },
  { title: "Habitat Solutions", isActive: true },
];
---

<Layout title="Our Services">
  <body class="text-textPrimary">
    <!-- Starting image -->
    <div class="border-b-4 md:border-y-4 border-primary">
      <Breadcrumbs items={breadcrumbItems} />

      <div class="flex bg-textPrimary">
        <img
          src="/habitate/background-left.webp"
          alt="Customized Habitat Design"
          class="h-full w-1/2 border-r-2 border-dark"
        />
        <img
          src="/habitate/background-right.webp"
          alt="Customized Habitat Design"
          class="h-full w-1/2 border-l-2 border-dark"
        />
      </div>
    </div>

    <!-- Leading the way -->
    <section
      id="leading"
      class="max-w-2xl lg:max-w-2xl mx-auto space-y-6 md:space-y-8 mb-[32px] md:mb-[77px] mt-[32px] md:mt-[64px] px-[37px] md:px-0">
      <div
        data-aos="fade-up"
        class="text-[13px] xxs:text-[16px] md:text-[36px] font-semibold md:font-medium text-justify flex justify-center md:mb-[45px]">
        <div class="">Leading the Way in</div>
        <div class="ml-2 text-secondary">Habitat Services</div>
      </div>

      <p
        data-aos="fade-up"
        class="text-justify text-[13px] xxs:text-sm md:text-base font-light">
        <span class="text-secondary font-medium"
          >GI-Tech is a premier habitat service provider</span
        > catering specifically to the needs of the esteemed Navy. With an unwavering
        commitment to excellence, innovation, and service, we stand ready to support
        and enhance the operational efficiency and effectiveness of naval operations
        through our comprehensive habitat solutions.
      </p>

      <p
        data-aos="fade-up"
        class="text-justify text-sm md:text-base font-light">
        At GI-Tech, we recognize the critical importance of maintaining optimal
        living and working environments for naval personnel, <span
          class="text-secondary font-medium"
          >ensuring their comfort, safety, and productivity</span
        >. Our team of seasoned professionals brings a wealth of expertise and
        experience in designing, constructing, and managing habitats tailored to
        the unique requirements of naval installations, vessels, and facilities.
      </p>
    </section>

    <!-- services-we-provide -->
    <section
      id="our services"
      class="bg-dark text-white relative overflow-hidden pt-[32px] md:pt-[72px] pb-[32px] md:pb-[88px] px-[14px]">
      <img
        src="/assets/web1.svg"
        alt="background texture"
        class="w-full absolute z-0 opacity-[3%]"
      />
      <div
        data-aos="fade-up"
        class="font-semibold font-condensed pr-4 text-white z-10 text-[20px] md:text-[40px] ml-[8%] xs:ml-[6%] md:ml-[2%] lg:ml-[7%] xl:ml-[20%] mb-[6px] md:mb-[16px]">
        Our Services
      </div>

      <div
        data-aos="fade-up"
        class="h-[2px] md:h-1 w-[25%] md:w-[20%] bg-primary md:mb-[22px] ml-[8%] xs:ml-[6%] md:ml-[2%] lg:ml-[7%] xl:ml-[20%]">
      </div>

      <div class="max-w-2xl mx-auto p-6 space-y-8 z-10 md:mt-7">
        {cards.map((card) => <OurServices {...card} />)}
      </div>
    </section>

    <!-- Learn More -->
    <section
      id="upgrading habitability"
      class="max-w-4xl mx-10 lg:mx-auto flex flex-col-reverse md:flex-row mb-11 md:mb-20 mt-8 md:mt-16 bgiwhite relative">
      <div>
        <div
          data-aos="fade-up"
          class="hidden md:block text-xs md:text-4xl text-white md:text-black font-medium lg:mt-12 absolute md:relative bottom-40 xxs:bottom-36 xs:bottom-32 md:bottom-0 font-condensed">
          Upgrading Habitability: A Game-Changing Partnership with GI
        </div>
        <p
          data-aos="fade-up"
          class="text-justify font-light md:mb-8 mt-3 md:mt-8 text-sm md:text-base">
          Learn how GI's habitat expertise enabled the Indian Navy to ensure the
          best accommodation in the flagship aircraft carrier INS Vikrant , thus
          enhancing their operational capabilities by ensuring utmost safety and
          comfort for the crew.
        </p>

        <a
          data-aos="fade-up"
          href="/ins-vikrant"
          class="hidden md:inline-block text-secondary border-2 border-secondary px-3 md:px-8 py-1 md:py-[8px] text-sm md:text-base font-condensed font-semibold transition duration-300 ease-in-out hover:border-primary hover:text-primary cursor-pointer">
          LEARN MORE
        </a>
      </div>

      <img
        src="/assets/IAC-Vikrant.webp"
        alt="Customized Habitat Design"
        class="hidden md:block w-full md:w-[50%] h-[50%] md:ml-10 rounded-lg"
        data-aos="fade-up"
      />

      <div
        class="flex md:hidden justify-center relative group w-full mb-2 lg:mb-0 lg:h-[400px] xl:h-[500px] overflow-hidden">
        <img
          src="/assets/IAC-Vikrant.webp"
          alt="Customized Habitat Design"
          class="w-12/12 lg:w-full lg:object-fill transition-transform duration-300 group-hover:scale-105"
        />
        <div
          class="text-[13px] xxs:text-[15px] font-semibold absolute bottom-8 left-2 xxs:left-6 md:left-32 lg:left-6 text-white transition-all duration-300 group-hover:opacity-0">
          Upgrading Habitability:
        </div>
        <div
          class="text-[11px] xxs:text-[13px] font-semibold absolute bottom-2 md:bottom-6 left-2 xxs:left-6 md:left-32 lg:left-6 text-white transition-all duration-300 group-hover:opacity-0">
          A Game-Changing Partnership with GI
        </div>
      </div>
    </section>
  </body>
</Layout>

<script is:inline>
  for (let index = 1; index <= 5; index++) {
    const short = document.getElementById(`short-description${index}`);
    const full = document.getElementById(`full-description${index}`);
    const toggleButton = document.getElementById(`toggle-button${index}`);

    toggleButton.addEventListener("click", () => {
      if (short.classList.contains("hidden")) {
        short.classList.remove("hidden");
        full.classList.add("hidden");
        toggleButton.innerHTML =
          'Read more <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" id="keyboard-down-arrow" fill="#01BDB7"><path d="M8.12 9.29L12 13.17l3.88-3.88c.39-.39 1.02-.39 1.41 0 .39.39.39 1.02 0 1.41l-4.59 4.59c-.39.39-1.02.39-1.41 0L6.7 10.7c-.39-.39-.39-1.02 0-1.41.39-.38 1.03-.39 1.42 0z"></path></svg>';
      } else {
        short.classList.add("hidden");
        full.classList.remove("hidden");
        toggleButton.innerHTML =
          '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" id="keyboard-up-arrow" fill="#01BDB7"><path d="M8.12 14.71L12 10.83l3.88 3.88c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L12.7 8.71c-.39-.39-1.02-.39-1.41 0L6.7 13.3c-.39.39-.39 1.02 0 1.41.39.38 1.03.39 1.42 0z"></path></svg>';
      }
    });
  }
</script>
