---
import { Dropdown as DropdownContainer, DropdownItems } from "astro-navbar";
const { title, lastItem, children } = Astro.props;
---

<li class="relative">
  <span
    class="text-base text-center flex align-middle items-center mt-2 font-semibold"
    >{title}</span
  >
  <div
    class:list={[
      "lg:absolute w-full lg:w-48 z-10",
      lastItem ? "lg:right-0 origin-top-right" : "lg:left-0 origin-top-left",
    ]}>
    <div
      class="px-3 lg:py-2 lg:bg-white lg:rounded-md lg:shadow lg:border flex flex-col">
      {
        children.map((item) => (
          <a
            href={item.path}
            class="py-1.5 text-background font-medium leading-5 hover:text-blue-500 ml-2">
            {item.title}
          </a>
        ))
      }
    </div>
  </div>
</li>
