---
// PartnersSection.astro
const partners = [
  { src: "/alliance/alliance1.png", alt: "Partner 1" },
  { src: "/alliance/alliance3.png", alt: "Partner 3" },
  { src: "/alliance/alliance4.png", alt: "Partner 4" },
  { src: "/alliance/alliance5.png", alt: "Partner 5" },
  { src: "/alliance/alliance6.png", alt: "Partner 6" },
];
---

<section class="bg-backgroundSec py-12">
  <div class="max-w-6xl mx-auto text-center">
    <h2 class="text-xl md:text-4xl mb-4 font-barlow">OUR PARTNERS</h2>
    <p class="text-md md:text-[22px] text-gray-600 mb-8">
      Joining hands with the top leaders in the industry
    </p>
    <div class="flex flex-wrap justify-center items-center gap-7 xs:gap-12">
      {
        partners.map((partner) => (
          <div class="flex justify-center items-center">
            <img
              src={partner.src}
              alt={partner.alt}
              class="h-7 xxs:h-10 md:h-20"
            />
          </div>
        ))
      }
    </div>
  </div>
</section>
