---
// NavySection.astro
---

<div
  class="relative bg-cover bg-center text-white bg-black py-[34px] md:py-12 lg:py-20"
  style="background-image: url('/india-map-background.webp');">
  <div
    class="relative max-w-6xl mx-auto flex flex-col-reverse lg:flex-row items-center px-10 lg:px-16">
    <div data-aos="fade-up" class="lg:w-2/3 mt-10 lg:mt-0">
      <h2
        class="hidden lg:block text-[40px] font-semibold mb-3 leading-tight font-condensed">
        Official Solutions Provider : Indian Navy
      </h2>
      <div class="hidden lg:block border-b-4 border-primary w-[50%] mb-8"></div>
      <p class="mb-6 text-[13px] md:text-[16px] leading-relaxed text-justify">
        Our dedication and accomplishments were formally acknowledged when we
        attained the prestigious Indian Navy vendor approval on the 24th of May
        2023. This significant milestone signifies our recognition as a trusted
        and authorized partner, empowering us to serve all four Naval Commands:
      </p>
      <ul
        data-aos="fade-up" 
        class="mb-6 text-[13px] md:text-[16px] leading-relaxed font-semibold">
        <li class="mb-2">Western Naval Command - Mumbai</li>
        <li class="mb-2">Eastern Naval Command - Visakhapatnam</li>
        <li class="mb-2">Southern Naval Command - Kochi</li>
        <li class="text-primary font-extrabold">
          Tri-services Command - Port Blair
        </li>
      </ul>
      <p
        data-aos="fade-up"
        class="text-[13px] md:text-[16px] leading-relaxed text-justify">
        This underscores our comprehensive reach and steadfast commitment to
        bolstering the Indian Navy across diverse geographical locations.
      </p>
    </div>
    <div data-aos="fade-up">
      <h2
        class="block lg:hidden text-xl font-semibold mb-3 leading-tight font-condensed">
        Official Solutions Provider: Indian Navy
      </h2>
      <div class="block lg:hidden border-b-4 border-teal-400 w-[50%] mb-4">
      </div>

      <div class="w-full mt-8 lg:mt-0 flex justify-center">
        <img
          src="/india-map.webp"
          alt="Indian Navy Commands"
          class="w-full lg:w-3/4 relative"
        />
        <div class="inset-0 ">
          <img
            src="/location.png"
            class="h-9 w-9 absolute bottom-[185px] right-60 origin-bottom  location-icon"
          />
          <img
          id="location-icon", 
          src="/location.png"
          class="h-9 w-9 absolute bottom-[192px] left-[123px] origin-bottom delay-1000 location-icon"
        />
        <img
        id="location-icon", 
        src="/location.png"
        class="h-9 w-9 absolute bottom-[47px] left-[178px] origin-bottom delay-[2000ms] location-icon"
      />
      <img
      src="/location.png"
      id="location-icon", 
      class="h-10 w-10 absolute bottom-[85px] right-[112px] origin-bottom delay-[3000ms] location-icon"
       />
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  window.addEventListener('load', () => {
    const icons = document.querySelectorAll('.location-icon');
    icons.forEach(icon => {
    icon.classList.add('animate-pop-up');
});
  });
</script>
