---

---

<section class="bg-white p-8 md:my-10">
  <div class="max-w-4xl mx-auto text-center">
    <h2
      class="text-[26px] xxs:text-[30px] xs:text-[36px] md:text-[64px] text-textPrimary mb-3 md:mb-[48px] font-condensed font-medium">
      Serving <span class="text-secondary font-condensed">Bharat</span> and its Allies
    </h2>
    <div class="mx-auto max-w-3xl ">
      <p
        class="text-textPrimary mb-4 text-justify text-[12px] xxs:text-[14px] xs:text-[16px] md:text-xl">
        With nearly two decades of experience, GI has established an outstanding
        reputation in executing complex offshore and maritime projects, serving
        both the Indian Navy and in the offshore infrastructure space.
      </p>
      <p
        class="text-textPrimary md:mb-8 text-justify text-[12px] xxs:text-[14px] xs:text-[16px] md:text-xl">
        Since 2017, GI has been committed to supporting the Indian Navy,
        delivering significant projects such as enhancing habitability on the
        INS Vikrant, multi-role naval vessels, and critical infrastructure. Our
        focus is on expanding our service offerings to armed forces through
        advanced engineering and cutting-edge technological innovations.
      </p>
    </div>
  </div>
</section>
