---
---

<section class="bg-white p-8">
  <div class="max-w-4xl mx-auto text-center">
    <h2 class="text-5xl text-gray-800 mb-4">Serving <span class="text-blue-500">BHARAT</span> and its Allies</h2>
    <div class="mx-auto max-w-3xl">
      <p class="text-gray-600 mb-4 text-justify">
        Established in 2005, G1 Offshore and Marine Pvt Ltd. is dedicated to serving the Indian Navy, with notable projects such as habitability work on the IAC INS Vikrant, multi-role naval vessels, and aluminium helideck repairs.
      </p>
      <p class="text-gray-600 mb-8 text-justify">
        Alongside the naval contributions, G1 Offshore and Marine has also built an outstanding reputation for delivering complex offshore and maritime projects for major oil and gas companies like ONGC, with turn-key projects valued at over USD 50 million.
      </p>
    </div>
    <a href="#" class="inline-block bg-white text-blue-500 border border-blue-500 py-2 px-4 rounded hover:bg-blue-600 hover:text-white">Learn more</a>
  </div>
</section>
