---
---

<section class="bg-white p-8 my-10">
  <div class="max-w-4xl mx-auto text-center">
    <h2 class="text-5xl text-gray-800 mb-10 font-barlow">Serving <span class="text-blue-500 font-barlow">BHARAT</span> and its Allies</h2>
    <div class="mx-auto max-w-3xl">
      <p class="text-gray-600 mb-4 text-justify text-xl">
        With nearly two decades of experience, GI has established an outstanding reputation in executing complex offshore and maritime projects, serving both the Indian Navy and in the offshore infrastructure space.
      </p>
      <p class="text-gray-600 mb-8 text-justify text-xl">
         Since 2017, GI has been committed to supporting the Indian Navy, delivering significant projects such as enhancing habitability on the INS Vikrant, multi-role naval vessels, and critical infrastructure. Our focus is on expanding our service offerings to armed forces through advanced engineering and cutting-edge technological innovations.
      </p>
    </div>
  </div>
</section>
